/* CSS declarations go here */

@font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;


body, input {
  font-family: @font-family;
}

body {
  font-size: 100%;
  background-color: #aea;
}

.pull-right {
  float: right;
}

.muted {
  color: #444;
}

#global-menu {
  font-size: 3em;
  line-height: 1.5em;
  [data-next-button] {
    text-align: center;
  }

  a[data-link], a[type=button] {
    margin-right: 0.5em;
    width: 20%;
    max-width: 4em;
    min-width: 2em;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: inline-block;
    &:hover, &:active {
      background-color: #e1f0ea;
    }
  }
}

#account-form, #item-form {
  margin: 0em 0.5em 0 0.5em;
  font-size: 3em;
  line-height: 1.5em;
  width: 100%;
  padding-right: 1em;
  display: inline-block;
  vertical-align: top;

  input {
    font-size: 1em;
    height: 1.5em;
    -webkit-appearance: none;
    padding: 0;
    border: 0;
  }

  a[data-link], a[type=button] {
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: inline-block;
    &:hover, &:active {
      background-color: #e1f0ea;
    }
  }

  [data-remove-button], [data-add-button] {
    width: 15%;
    max-width: 2em;
    right: 0;
    color: white;
    text-align: center;
    background-color: limegreen;
  }

}

#account-form {
  input, a[data-link] {
    display: inline-block;
    width: 70%;
  }
}

#item-form {
  a[data-link] {
    display: inline-block;
    width: 70%;
  }
  [data-input=name] {
    display: inline-block;
    width: 50%;
  }
  [data-input=amount] {
    display: inline-block;
    width: 20%;
    text-align: right;
  }
  span {
    padding-right: 15px;
  }
}
