/* CSS declarations go here */

@font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

@danger-color: tomato;

body, input {
  font-family: @font-family;
}

body {
  background-color: #aea;
  font-size: 18px !important;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.hide {
  display: none !important;
}

.flash {
  color: gray;
  background-color: lighten(#aea, 10%)
}

.center {
  margin: 0 auto;
}

.buttons {
  a[type=button] {
    text-align: center;
    // box-shadow: 10px 10px 0 0 darken(#aea, 20%);
    background-color: darken(#aea, 10%);
  }
  a[data-link], a[type=button] {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5em;
    color: black;
    &:hover, &:active {
      background-color: white;
      color: black;
    }
    &.disabled {
      box-shadow: none;
      color: transparent;
      background-color: transparent;
      cursor: default;
    }
  }
  a[data-reset-button]:hover {
    background-color: @danger-color;
  }
}

.page {
  box-sizing: border-box;
  font-size: 3em;
  line-height: 1.5em;
  vertical-align: top;
  .buttons;

  p, ul, ol {
    display: block;
    margin-bottom: 1em;
  }

  input {
    font-size: 1em;
    height: 1.5em;
    -webkit-appearance: none;
    padding: 0;
    border: 0;
  }

  a[data-remove-button]:hover {
    background-color: @danger-color;
  }
}

#home {
  .call-to-action-row {
    text-align: center;
  }
  font-size: 2em;
  a[data-start-button] {
    width: 50%;
    font-size: 1.5em;
  }
  ul {
    list-style: inside disc;
  }
}

#global-menu {
  .buttons;
  font-size: 3em;
  line-height: 1.5em;
  a[type=button] {
    width: 40%;
    max-width: 4em;
    min-width: 2em;
  }
  p[data-flash-message] {
    position: fixed;
    top: 0;
    background-color: #aea;
    margin: 0;
    width: 100%;
    cursor: pointer;
  }
}

#account-form {
  input, a[data-link] {
    display: inline-block;
  }
}

#item-form {
  a[data-link] {
    display: inline-block;
  }
  [data-input=name] {
    display: inline-block;
  }
  [data-input=amount] {
    display: inline-block;
    text-align: right;
  }
  span {
    padding-right: 15px;
  }
}

#item-detail-form {
  [data-nothing-drop-zone], [data-pay-drop-zone], 
  [data-use-drop-zone], [data-both-drop-zone], {
    margin: 0 20px 20px 0;
  }
  [data-story-item] {
    display: inline-block;
  }
}

#admin, #admin-login, #admin-global-menu {
  font-size: 0.75em;
  table {
    width: 100%;
    tbody > tr > td {
      vertical-align: middle;
    }
  }
  th {
    text-align: left;
  }
  tr:nth-child(2n-1) td {
    background-color: darken(#aea, 5%);
  }
  [data-remove-button], [data-add-button] {
    width: 2em;
  }
}

#admin-global-menu {
  .buttons;
  a[type=button] {
    width: 40%;
    max-width: 4em;
    min-width: 2em;
  }
}
