
@media (max-width: 769px) {

  @page-width: 669px;
  @button-width: @page-width * 0.15;

  #global-menu, #account-form, #item-form, #item-detail-form {
    h1, li, p, a, input {
      font-size: 48pt;
      line-height: 48pt;
    }
  }

  [data-flash-message] {
    position: fixed;
    bottom: 0;
    background-color: #aea;
    margin: 0;
  }

  .page {
    width: @page-width;
  }

  [data-remove-button], [data-add-button] {
    width: @button-width;
  }

  #account-form, #item-form {
    input, a[data-link] {
      width: @page-width - @button-width;
    }
  }

  #item-form {
    [data-input=name] {
      width: (@page-width - @button-width) * 0.7;
    }
    [data-input=amount] {
      width: (@page-width - @button-width) * 0.3;
    }
  }

  #item-detail-form {
    [data-story-item] {
      width: @page-width - @button-width;
    }
  }

}
